<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
</head>
<body style="background-color:rgb(125, 132, 133);">
  <div>
    <br><br>
    <hr style="background-color:aqua ;">
    <hr style="background-color: aqua;">
    <hr style="background-color:aqua ;">
    <br>

    
    <h1 style="background-color: rgb(224, 122, 85);"><center><a href="/">WELCOME TO CASTLE ENA</a></center></h1>
    <br>
    <br>
    <hr style="background-color:aqua ;">
    <hr style="background-color: aqua;">
    <hr style="background-color:aqua ;">  
    </div>
<div class="container">
    <center>
        <form action="/" method="POST">
            <div class="mb-3">
              <label for="newid" class="form-label" style="color: rgb(248, 255, 144);">STUDENT ID &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp       :</label>
              <input type="number" class="form-control" name="newid" id="newid" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="newname" class="form-label" style="color: rgb(248, 255, 144);">STUDENT NAME&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp         :</label>
                <input type="text" class="form-control" name="newname" id="newname" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="newroom" class="form-label" style="color: rgb(248, 255, 144);">STUDENT ROOM&nbsp&nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp      :</label>
                <input type="text" class="form-control" name="newroom" id="newroom" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="newbranch" class="form-label" style="color: rgb(248, 255, 144);">STUDENT BRANCH &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    :</label>
                <input type="text" class="form-control" name="newbranch" id="newbranch" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="newstatus" class="form-label" style="color: rgb(248, 255, 144);">STUDENT IN_OUT STATUS:</label>
                <select type="text" class="form-control" name="newstatus" id="newstatus" aria-describedby="emailHelp">
                  <option selected value="None">Open this select menu</option>
                  <option value="OUT">OUT</option>
                  <option value="IN">IN</option>
                  </select>
            </div>

            <br>


           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form></center>
   
</div>
<br>
<hr style="background-color: aquamarine;">
<br>

<div class="container">
<center>
<h3>STUDENT IN-OUT DETAILS</h3>
<table class="table" style="color:rgb(18, 50, 51) ;">
    <thead>
      <tr>
        <th scope="col" style="color:rgb(230, 88, 23);">&nbsp &nbsp&nbspSTUDENT ID&nbsp &nbsp&nbsp</th>
        <th scope="col" style="color:rgb(158, 38, 173);">&nbsp &nbsp&nbspSTUDENT NAME&nbsp &nbsp&nbsp</th>
        <th scope="col" style="color:rgb(230, 88, 23);">&nbsp &nbsp&nbspSTUDENT BRANCH&nbsp &nbsp&nbsp</th>
        <th scope="col" style="color:rgb(158, 38, 173);">&nbsp &nbsp&nbspSTUDENT ROOM&nbsp &nbsp&nbsp</th>
        <th scope="col" style="color:rgb(230, 88, 23);">&nbsp &nbsp&nbspSTUDENT STATUS&nbsp &nbsp&nbsp</th>
        <th scope="col"style="color:rgb(158, 38, 173);">&nbsp &nbsp&nbspIN OUT TIME&nbsp &nbsp&nbsp </th>
        <th scope="col" style="color:rgb(230, 88, 23);">&nbsp &nbsp&nbspACTIONS&nbsp &nbsp&nbsp</th>
      </tr>
    </thead>
    <tbody>
      {% for hostel in allhostel %}
      <tr>
        <th scope="row">{{hostel.sid}}</th>
        <td>&nbsp &nbsp&nbsp{{hostel.sname}}</td>
        <td>&nbsp &nbsp&nbsp{{hostel.sbranch}}</td>
        <td>&nbsp &nbsp&nbsp{{hostel.sroom}}</td>
        <td>&nbsp &nbsp&nbsp{{hostel.sstatus}}</td>
        <td>&nbsp &nbsp&nbsp{{hostel.stime}}</td>
        <td>&nbsp &nbsp&nbsp
          <button style="background-color: aqua;"><a href="/update/{{hostel.sid}}" style="color: black;" type="button" class="btn btn-outline-info">Update</button>
            &nbsp &nbsp&nbsp
            <button style="background-color: rgb(221, 86, 86) ;"><a href="/delete/{{hostel.sid}}" style="color: black;" type="button" class="btn btn-outline-info">Delete</button>
        </td>
      </tr>       
      {% endfor %}


    
    </tbody>
  </table>
</center>  
</div>



    
</body>
</html>